* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background:linear-gradient(pink, rgb(219, 219, 83));
    height: 100vh;
    padding: 50px;
}
.profile-card {
    padding-top: 10%;
    text-align: center;
    border-radius: 10%;
    width: 330px;
    /* background-color:white; */
    margin: 0 auto;
    padding: 20px 5px;
}

.profile-card_main {
    padding-top: 10;

}

.profile-card_main img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-card_main_h1 {
    font-size: 1rem;
    margin: 2px;
    color: white;
    text-align: center;
}

.profile-card_list a {
    display: block;
    text-decoration: none;
    border:2px solid white;
    padding: 10px 20px;
    height: 40px;
    width: 300px;
    font-weight: bold;
    /* background-color: pink; */
    color: white;
   margin: 10px;
}
