.grid {
    display: grid;
    /*갯수 정해져있지않아서 auto-, 200px이고 나머지는 비율대로 움직영*/
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 1fr; /*row 계속 바뀌어서 auto-*/
}
.grid div {
    display: flex;
    flex-direction: column; /* 위아래 */
    align-items: center; /* column으로 바꾸면 */
    justify-content: space-between;
}

.grid h2 {
    font-size: 1.6rem;
    text-align: center;
    margin: 20px; /*바깥으로 여백이 들어가징*/
}

.grid p {
    margin: 20px;
}

.grid img {
    width: 100%; /* 움직일때마다 사이즈 변경 때문에! */
    height: 100%;
    object-fit: cover; /* 화질 깨지지않게!*/
    }

.grid div:first-child {
    background-color: brown;
}
.grid div:nth-child(3) {
    background-color: violet;
}
.grid div:nth-child(5) {
    background-color:blue;
}
.grid div:nth-child(7) {
    background-color:crimson;
}
.grid div:nth-child(9) {
    background-color: cadetblue;
}
.grid div:nth-child(11) {
    background-color:darkkhaki;
}